body {
  background: black;
  text-align: center;
  color: white;
}
.container {
  height: 100vh;
  
}
#app {
  font-size: 6em;
  padding-top: 2em;
}
#intro {
  height: 100vh;
  padding-top: 2em;
  background: white;
  color: black;
  font-size: 4em;
}
#text {
  font-size: 0.4em;
}
#work {
  font-size: 3em;
}
a {
  color: orange;
}
.icons {
  font-size: 2em;
}
@media (max-width: 600px){
  .container {
    height: 100vh;
    
  }
  #app {
    font-size: 2em;
  padding-top: 10em;
}
}
@-ms-viewport{
  width: device-width;
}
