body {
  background: #8fcffc;
  text-align: center;
}
.dabba {
  width: 265px;
  margin-top: 19em;
  height: 19em;
}
.line {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  border-right: 2px solid;
  font-family: 'Gamja Flower', cursive;
  font-size: 40px;
  animation: blinker 750ms ease-out infinite,
    typewriter 3.5s linear;
}
@keyframes blinker{
  from {border-right-color: black;}
  to {border-right-color: transparent;}
}
@keyframes typewriter{
  0%{width:0%;}
  90%{width:100%;}
  100%{width:0%;}
}
li {
  margin-right: 40px;
}

#gallery {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}
.jumbotron {
  background: white;
}

#gallery img {
   scroll-snap-align: center;
  width: 60em;
  height: 30em;
  margin-right: 10em;
  margin-left: 5em;
}
@media (max-width: 600px) {
  #gallery {
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
}
  #gallery img {
   scroll-snap-align: center;
  width: 20em;
  height: 10em;
  margin-right: 3em;
  margin-left: 1em;
}
  .dabba {
  width: 265px;
  margin-top: 20em;
  height: 19em;
}
  
}
.fa {
  font-size: 30px;
  color: #fff;
  margin: 10px;
}
#foot {
  margin-top: 200px;
  background: #000;
}
footer {
  margin-top: 10em;
}
@-ms-viewport{
  width: device-width;
}
