.singlePage{
	color: #292929 ;
	font-family: "FiraSans";
	display: grid;
	text-align: center;
	a {

		color: #0055ff;
	}
	a:hover{
		color: orange;
	}
}

.spBlog {
	width: 80vw;
	text-align: left;
	margin: 5vh auto;
}

#spJournalContainer{
	min-height: 100vh;
	background-color: #f7f7f7;


	#spJournalEntryContainer{
		padding: 30px 0;
		display: grid;
		grid-auto-rows: auto;
		grid-row-gap: 20px;

		.entry .entryMeta {
			opacity: 0.7;
		}


	}

	#spJournal {
		text-align: left;
		padding: 10vh 0;
		margin: auto;
		height: 100vh;
		width: 70vw;
	}


}
#spProjectContainer{
	text-align: left;

	#spProjects {
		margin: auto;
		width: 70vw;
		min-height: 100vh;
		padding: 10vh 0;

		.spProject .pMid{
			opacity: 0.7;
		}

		#spProjectEntryContainer{
			padding: 20px 0;
			display: grid;
			grid-row-gap: 20px;
		}
	}
}

#spHomeContainer {
	padding: 0 5vh;
	height: 100vh;
	display: grid;
	grid-auto-rows: auto;
	align-content: space-between;

	#scrollDown{
		font-size: 6pt;
	}


	#spHome{
		margin-top: 20vh;
	}



	#spUrls{
		display: flex;
		flex-direction: row;
		justify-content: center;

		.spUrl{
			margin: 10px;
		}
	}
}

#spFooter{
	font-size: 6pt;
}


