:root {
	--text-scale: 0.9;

	--text-xs: calc(0.75rem * var(--text-scale));
	--text-sm: calc(0.875rem * var(--text-scale));
	--text-base: calc(1rem * var(--text-scale));
	--text-lg: calc(1.125rem * var(--text-scale));
	--text-xl: calc(1.25rem * var(--text-scale));
	--text-2xl: calc(1.5rem * var(--text-scale));
	--text-3xl: calc(1.875rem * var(--text-scale));
	--text-4xl: calc(2.25rem * var(--text-scale));
	--text-5xl: calc(3rem * var(--text-scale));
	--text-6xl: calc(5rem * var(--text-scale));
}

body {
	font-size: var(--text-lg);
	line-height: 1.54;
	color: var(--color);
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
	font-variant-ligatures: contextual;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	font-family: "IBM Plex Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.3;
	font-weight: 400;
	color: var(--color);
}

h1 {
	font-size: var(--text-4xl);
}

h2 {
	font-size: var(--text-3xl);
}

h3 {
	font-size: var(--text-2xl);
}

h4 {
	font-size: var(--text-xl);
}

h5 {
	font-size: var(--text-lg);
}

p {
	font-size: var(--text-lg);
}
