@import "~bootstrap/scss/bootstrap";
#mainApp{
	height: 100vh;
	display: grid;
	overflow-y:hidden;
	scrollbar-width: none;
	grid-template-columns: 200px 5px auto;
}

#loadSpinner{
	position:absolute;
	left: 50%;
	top:50%;
}

#navigation{
	font-weight: 500;
	text-align: center;
	font-size: 18pt;
	display: grid;
	grid-row-gap: 20px;
	font-family: "FiraSansMed";
	margin: auto;
	div a{
		text-decoration: none;
		color: #414141;
		opacity: 60%;
	}
}



#separator {
	width: 5px;
	height: 90vh;
	margin-top: auto;
	margin-bottom: auto;
	border-radius: 20px;
	background-color: #414141;
}


@media only screen and (max-width: 850px){
	#mainApp{
		grid-template-columns: 150px auto auto;
	}
	#navigation{
		font-size: 16pt;
	}
}


@media only screen and (max-height: 500px){
	#navigation{
		margin: auto;
	}
}
