$content-color: #292929;

#Home{
	display: grid;
	padding: 0 60px;
	grid-template-columns: auto 200px;
	height: 100vh;
}

#homeTitle{
	font-family: "FiraSansBold";
	font-size: 42pt;
	color: $content-color;
}

#homePara{
	font-family: "FiraSans";
	font-size: 36pt;
	color: $content-color;
}

#homeContent{
	width: 60vw; 
	margin: auto 0;
}



#homeUrlsBox{
	div a{
		text-decoration: none;
		color: $content-color;
		font-family: "FiraSansMed";
		font-size: 18pt;
	}
	display: grid;
	grid-row-gap: 20px;
	padding: 20px;
	border: 2px solid #E5E5E5;
	border-radius: 25px;
	width: 200px;
	margin: 10vh auto auto auto;
}


@media only screen and (max-width: 1000px){
	#homeContent{
		width: 45vw;
	}
	#homePara{
		font-size: 22pt;
	}
	#homeTitle{
		font-size: 32pt;
	}
	#Home{
		padding: 0;
	}
	#homeUrlsBox{
		width: 150px;
		margin-top: 20px;
		div a{
		font-size: 14pt;
		}
	}
}
