$box-size: 225px;
$content-color: #292929;

#people{
	display: grid;
	height: 100vh;
	overflow-y: hidden;
}
#peopleContainer::-webkit-scrollbar {
  display: none;
}
#peopleContainer{
	height: 90vh;
	margin: auto;
	width: 100%;
	padding: 0 100px;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
#peopleTitle{
	font-size: 36pt;
	font-family:"FiraSansMed";
      }
#peopleGrid{
	display: grid;
	grid-template-columns: repeat(auto-fit, $box-size+200);
	grid-column-gap: 50px;
	grid-auto-rows: $box-size;
	margin-top: 30px;
	grid-row-gap: 50px;
	max-width: 1100px;
	width: 100%;
}

.person{
	color: $content-color;
	width: $box-size + 200;
	display: grid;
	border: 2px #E5E5E5 solid;
	border-radius: 25px;
	height: $box-size;
	padding: 20px;
	font-family: "FiraSansMed";
	.personName{
		font-size: 22pt;
	}
	.personMid {
	  font-weight: bold;
		font-size: 18pt;
		.personUrl {
			color: $content-color;
			opacity: 0.5;
		}
		a:hover{
			opacity: 1;
		}
	}

	.personDesc {
		font-weight: 400;
		margin-top: 10px;
	}
}

$small-box-size: 170px;
@media only screen and (max-width: 900px){
	#peopleContainer{
		padding: 0 50px; 
	}
  #peopleGrid{
    grid-template-columns: repeat(autofit, $small-box-size + 100);
    grid-auto-rows: $small-box-size;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  .person{
    width: $small-box-size + 100;
    height: $small-box-size;
    .personName{
      font-size: 14pt;
    }
    .personMid {
      font-size: 11pt;
      font-weight: 600;
      .personUrl {
	color: $content-color;
      }
    }

    .personDesc {
      font-weight: 400;
      font-size: 10pt;
      margin-top: 5px;
    }
  }
	#peopleTitle{
      font-size: 22pt;
    }
}
