$box-size: 225px;
$content-color: #292929;

#projects{
	display: grid;
	height: 100vh;
	overflow-y: hidden;
}
#projectsContainer::-webkit-scrollbar {
  display: none;
}
#projectsContainer{
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: grid;
	grid-template-columns: repeat(3, $box-size);
	justify-content: space-between;
	grid-auto-rows: $box-size;
	grid-row-gap: 50px;
	height: 90vh;
	margin: auto;
	margin-bottom: 20px;
	max-width: 1100px;
	width: 100%;
	padding: 20px 100px;
}

.project{
	color: $content-color;
	width: $box-size;
	display: grid;
	border-radius: 25px;
	height: $box-size;
	padding: 20px;
	font-family: "FiraSansMed";
	.pName{
		font-size: 22pt;
	}
	.pMid {
	  font-weight: bold;
		font-size: 18pt;
		.projectGithubUrls {
			text-decoration: none !important;
			color: #636363;
		}
		a:hover{
			opacity: 50%;
		}
	}

	.pDesc {
		font-weight: 400;
		margin-top: 10px;
	}
}

$small-box-size: 160px;

@media only screen and (max-width: 1000px){
  #projectsContainer{
    grid-template-columns: repeat(3, $small-box-size);
    grid-auto-rows: $small-box-size;
    grid-row-gap: 30px;
    padding: 10px 50px;
  }
  .project{
    width: $small-box-size;
    height: $small-box-size;
    padding: 15px;
    .pName{
      font-size: 14pt;
    }
    .pMid {
      font-size: 11pt;
      font-weight: 600;
      .projectGithubUrls {
	text-decoration: none !important;
	color: $content-color;
	opacity: 50%;
      }
      a:hover{
	opacity: 100%;
      }
    }

    .pDesc {
      font-weight: 400;
      font-size: 10pt;
      margin-top: 5px;
    }
  }
}
