---
layout: base.njk
---

<article class="post">
  <header class="post__header">
    <h1>{{ title }}</h1>
    <div class="post__details">
      <time datetime="{{ page.date | htmlDateString }}">
        {{ page.date | readableDate }}
      </time>
      <span> | </span>
      <span>{{ content | readingTime }} read</span>
    </div>
  </header>

  <main class="post__content{% if toc %} post__content--with-toc{% endif %}">
    {% if toc %}
    {% set tocOptions = tocTags | default('["h2","h3","h4"]') %}
    {% set tocContent = content | toc('{"tags":' + tocOptions + '}') %}
    {% if tocContent %}
    <nav class="post__toc">
      <h2>On this page</h2>
      {{ tocContent | safe }}
    </nav>
    {% endif %}
    {% endif %}
    <div class="post__body">
      {{ content | safe }}
    </div>
  </main>

  <aside class="post__aside">
    <div class="post__tags">
      {% for tag in tags | pageTags %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">#{{ tag }}</a>
      {% endfor %}
    </div>

    <nav class="post__pagination">
      {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
      {%- if nextPost %}

        <a href="{{ nextPost.url | url }}">
          <span>←</span>
          <span>{{ nextPost.data.title }}</span>
        </a>

      {% endif %}

      {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
      {%- if previousPost %}

        <a href="{{ previousPost.url | url }}">
          <span>{{ previousPost.data.title }}</span>
          <span>→</span>
        </a>

      {% endif %}
    </nav>
  </aside>

</article>